# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Rust build artifacts
rust_source/target/
target/
# Cargo lock files
Cargo.lock


# IDE and editor directories
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Miscellaneous
*.log

# Release packages
*.zip





